Source: ros-indigo-ps4eye
Section: misc
Priority: extra
Maintainer: Ron Tajima <ryosuke.tajima@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://wiki.ros.org/ps4eye
Standards-Version: 3.9.2

Package: ros-indigo-ps4eye
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-gscam, ros-indigo-image-proc, ros-indigo-stereo-image-proc, ros-indigo-tf
Description: The ps4eye package
